body {
    background-image: url(/img/dda2d7389c745e2a0765.jpg);
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    .container-fluid {
        background-color: rgba($color: #000000, $alpha: 0.7);
    }
    
}
