* {
    margin: 0;
    padding: 0;
    
    box-sizing: border-box;
}
img {
    display: block;
   
}
div {
    display: inline;
}
.io {
    color: aqua;
    /* font-weight: 1000; */
}